langchain>=0.2.0
langchain-core
langchain-community
langchain-huggingface
unstructured[pdf]
pypdf
sentence-transformers
faiss-cpu
transformers
torch
sacremoses
bert-score
rouge-score
scikit-learn
streamlit
watchdog
tqdm
