streamlit
langchain
langchain-community
langchain-unstructured
sentence-transformers
faiss-cpu
transformers
bert-score
rouge-score
pypdf
tqdm
scikit-learn
sacremoses
unstructured[pdf]
langchain-core
torch>=1.13

